html {
    background-color: #cbf1f5;
    color: #71c9ce;
    font-family: 'Fredoka One', cursive;
    font-size: 48px;
    text-align: center;
    vertical-align: 110%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}